
@{
    ViewBag.Title = "Index";
}

<div class="race top-bg">
    <div class="city-font">We Value Our Customers</div>
</div>
<div class="container-fluid">
    <center><h2 class="common-Uppercase">Here's What Are Previous Clients Have to say</h2></center>
    <div class="row row-width ">
        <div class="col-md-2"></div>
        <center>
            <div class="col-md-8 team-bg test test-border test-top lg-body ">
                <div class="client-test">
                    <center>
                        "Without NDA there is no way we would have grown from zero to 708 restaurants in the last 13 years." <br />
                        <div class="quote">
                            James Bodenstedt – CEO<br />

                            YUM! Companies<br />

                            Taco Bell, Pizza Hut, Wendy’s
                        </div>
                    </center>
                </div>
            </div>

        </center>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="row row-width ">
    <div class="col-md-2"></div>
    <center>
        <div class="col-md-8 team-bg test test-border test-top lg-body ">
            <div class="client-test">
                <center>
                    "Without NDA there is no way we would have grown from zero to 708 restaurants in the last 13 years." <br />
                    <div class="quote">
                        James Bodenstedt – CEO<br />

                        YUM! Companies<br />

                        Taco Bell, Pizza Hut, Wendy’s
                    </div>
                </center>
            </div>
        </div>

    </center>
    <div class="col-md-2"></div>
</div>
<div class="row row-width ">
    <div class="col-md-2"></div>
    <center>
        <div class="col-md-8 team-bg test test-border test-top lg-body ">
            <div class="client-test">
                <center>
                    "Without NDA there is no way we would have grown from zero to 708 restaurants in the last 13 years." <br />
                    <div class="quote">
                        James Bodenstedt – CEO<br />

                        YUM! Companies<br />

                        Taco Bell, Pizza Hut, Wendy’s
                    </div>
                </center>
            </div>
        </div>

    </center>
    <div class="col-md-2"></div>
</div>