
@{
    ViewBag.Title = "Index";
}
<div class="containter team-container">
    <div class="col-md-12 footer-bg border-top">
        <center><h1 class="team-header">VIDEOS</h1></center>
    </div>
    <div class="col-md-12 team-bg border-btm">
        <div class="row">
            <div class="col-md-4">
                <center>
                    <iframe height="300" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                    <h4 class="" id="name">
                        Description: <br />
                    </h4>
                </center>
            </div>

            <div class="col-md-4">
                <center>
                    <iframe height="300" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                    <h4 class="" id="name">
                        Description: <br />
                    </h4>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <iframe height="300" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                    <h4 class="" id="name">
                        Description: <br />
                    </h4>
                </center>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <center>
                    <iframe height="300" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                    <h4 class="" id="name">
                        Description: <br />
                    </h4>
                </center>
            </div>

            <div class="col-md-4">
                <center>
                    <iframe height="300" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                    <h4 class="" id="name">
                        Description: <br />
                    </h4>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <iframe height="300" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                    <h4 class="" id="name">
                        Description: <br />
                    </h4>
                </center>
            </div>
        </div>
    </div>
 </div>

