@{
    ViewBag.Title = "About";
}


<div class="race top-bg">
    <div class="city-font history-spacing">We Know the Business</div>
    <h3 class="city-font"> Since 1988, we have helped resturant franchise owners find exactly what they need</h3>
</div>
<div class="containter team-container">
    <div class="col-md-12 footer-bg border-top">
        <center><h1 class="service-title">History</h1></center>
    </div>
    <div class="col-md-12 team-bg border-btm">
        <div class="row">

            <h4 class="history-intro">
                The NDA history started in 1988 by Nick Diachenko and Charlie Nash with the support of the KFC Corporation to work with franchisees in the acquisition and divestiture market. Originally known as Nash, Diachenko and Associates d/b/a NDA, the name evolved to NDA, Inc. in 1994 with the retirement of Charlie. To honor Charlie’s wisdom, influence and contribution that launched NDA, he was named Chairman Emeritus. Prior to NDA, Charlie was considered by many the most successful franchisee of Convenient Food Marts. Nick, who was the former Director of Franchising for KFC before the inception of NDA, remains President.
                <br /><br />
                Since 2005, NDA, Inc. has represented transactions with restaurant companies that have collective revenues of over $3 Billion. Our staff has over 65 years of cumulative restaurant and M&A experience as well as years of experience at YUM! Brands, Domino’s Pizza and the Walt Disney Company. Our directors value long-standing relationships in order to bring together profitable deals for our clients. NDA has successfully represented hundreds of clients.
                <br /> <br />
                In addition to working with integrity, we work to maintain on-going relationships with current franchisees, private equity firms, newly-approved franchisees and the corporate executives at most of the major restaurant brands. We meet regularly with staff of the major brands and have continual communication with franchisees. Our advantage is our depth of experience and knowledge of the restaurant industry and our ability to successfully represent owners who are looking to sell their businesses under the best possible terms.
            </h4>

        </div>
    </div>
</div>




