@{
    ViewBag.Title = "Contact";
}
<center><h2 class="common-Uppercase">Let's Start a Conversation</h2></center>
<div class="containter team-container">
    <div class="col-md-12 footer-bg border-top">
        <center><h1 class="team-header">Contact Us</h1></center>
    </div>
    <div class="col-md-12 team-bg border-btm">
        <div class="row">
            <center>
                <div class="col-md-6">
                    <p class="lead contact-txt">
                        Here at NDA, Inc. we encourage sellers and buyers to reach out and get in contact with us.
                        We value our relationships with our clientle and welcome any input or questions you might have.
                        <br /><br />
                        
                    </p>
                    <div class="lg-body">
                        Let's begin the process
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive contact-image" src="~/Content/logo.png" />
                </div>
            </center>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6 lg-body">
                
                <center>
                    Give us a call: <br />
                    <i class="fa fa-phone" style="font-size:24px;"></i>  Phone: (502) 495-2262 <br />
                    <i class="fa fa-fax" style="font-size:24px;"></i> Fax: (814) 295-6385 <br />
                    <i class="fa fa-envelope" style="font-size:24px;"></i>Email: <a href="mailto:info@ndainc.net">info@ndainc.net</a> <br /> <br />
                    Come see us: <br />
                    <i class="fa fa-map-marker" style="font-size:36px;"></i> 4906 Bardstown Road, Suite 201 <br />
                    Louisville, KY. 40291
                </center>
            </div>
            <div class="col-md-6">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        // Initialize and add the map
        function initMap() {
            // The location of nda
            var nda = { lat: 38.176693, lng: -85.619342 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 14, center: nda });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: nda, map: map });
        }
        $('#map').click(function () {
            window.open('https://www.google.com/maps/dir//4906+Bardstown+Road,+Louisville,+KY/');
        });
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYfvLDr1YhEKvDhGTwdj75IgmOmP5KPWQ&callback=initMap">
    </script>
}
@*<form class="col-md-6" action="mailto:vincethaprince3@gmail.com" method="POST" enctype="text/plain">
        <div class="panel-body">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user blue"></i></span>
                    <input style="width: 100%" type="text" name="Name" placeholder="Name" class="form-control" autofocus="autofocus" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope blue"></i></span>
                    <input style="width: 100%" type="email" name="Email" placeholder="Email" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone blue"></i></span>
                    <input style="width: 100%" type="number" name="Phone" placeholder="Phone" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-comment blue"></i></span>
                    <textarea style="width: 100%" name="Message" rows="6" class="form-control" type="text" required></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-info">Send <span class="glyphicon glyphicon-send"></span></button>
                <button type="reset" value="Reset" name="reset" class="btn">Reset <span class="glyphicon glyphicon-refresh"></span></button>
            </div>
        </div>
    </form>*@