@{
    ViewBag.Title = "NDA, Inc.";
}

<div class="container-fluid">
    @Html.Action("PhotoCarousel", "Home")
</div>
<div class="row some-margin">
    <center>
        <h1 class="small-padding btm-padding header-margin common-Uppercase">Franchise merger and acquisition investment company<br /> specializing in restaurant brands</h1>
    </center>
    <div class="home-margin small-padding">
        <div class="col-md-1"></div>
        
            <div class="col-md-4 intro ">
                <center>
                    <h3 class="med-text">What We Do</h3>
                    <p class="body-txt">
                        We maintain a strong nationwide market-share in sell-side M&A transactions for franchisees of many major restaurant concepts.
                        Historically, our largest transactional volume has come from YUM! Brands franchisees of Taco Bell, Pizza Hut and KFC.
                        As we have grown, we now work alongside many other brands in greater frequency.
                    </p>
                </center>
                <div class="small-padding">
                    <center><a href="/Services/Index" class="common-Button">Learn more</a></center>
                </div>
            </div>
        <div class="col-md-2"></div>
            <div class="col-md-4 intro">
                <center>
                    <h3 class="med-text">Our Team</h3>
                    <p class="body-txt">
                        The team at NDA consits of experts in M&A with years of experience in the industry. As a team, we work together with the clients to
                        ensure they receive the best possible outcome of the transactions. Our team is proven and determined to find and receive the best results.
                        We look forward to hearing from you.
                    </p>
                </center>
                <div class="small-padding">
                    <center><a href="/Team/Index" class="common-Button">Our Team</a></center>
                </div>
            </div>
     
        <div class="col-md-1"></div>
    </div>
    
</div>
<div class="values">

    <center><h1 class="small-padding city-font city-margin"> OUR SERVICES</h1>
            <ul class="service-list">
                <li>SELL-SIDE M&A</li>
                <li>BUY-SIDE M&A</li>
                <li> DEBT STRUCTURING AND PLACEMENT</li>
                <li>CAPITAL FORMATION</li>
            </ul>

            <ul class="service-list">
                <li>SELL-SIDE M&A</li>
                <li>BUY-SIDE M&A</li>
                <li> DEBT STRUCTURING AND PLACEMENT</li>
                <li>CAPITAL FORMATION</li>
            </ul>

    </center>
    <div class="col-md-4"></div>
    
    
</div>
<center><h1 class="small-padding btm-padding header-margin common-Uppercase">Our Top Brands</h1></center>
<div class="footer-margin">
    @Html.Action("MultiSlide", "Home")
</div>

