@{
    ViewBag.Title = "NDA, Inc.";
}

<div class="container-fluid">
    @Html.Action("PhotoCarousel", "Home")
</div>
<div class="row some-margin">
    <center>
        <h1 class="small-padding btm-padding header-margin common-Uppercase">Franchise merger and acquisition investment company<br /> specializing in restaurant brands.</h1>
    </center>
    <div class="lg-margin small-padding">
            <div class="col-md-5 intro">
                <center><h3 class="med-text">What We Do</h3></center>
                <p>
                    We maintain a strong nationwide market-share in sell-side M&A transactions for franchisees of many major restaurant concepts.
                    Historically, our largest transactional volume has come from YUM! Brands franchisees of Taco Bell, Pizza Hut and KFC.
                    As we have grown, we now work alongside many other brands in greater frequency.
                </p>
                <div class="small-padding">
                    <center><a href="/Home/About" class="common-Button">Learn more</a></center>
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-md-5 intro">
                <center><h3 class="med-text">Our Team</h3></center>
                <p>
                    Proven results working with resturant companies having collective revenue of $3 billion
                </p>
                <div class="small-padding">
                    <center><a href="/Home/About" class="common-Button">Our Team</a></center>
                </div>
            </div>
    </div>
</div>
<div class="values">
    <div class="col-md-4"></div>
    <center><h1 class="small-padding city-font city-margin"> OUR SERVICES</h1>
    <div class="col-md-4"></div>
        <div class="col-md-2">
            <ul class="service-list">
                <li>SELL-SIDE M&A</li>
                <li>BUY-SIDE M&A</li>
                <li> DEBT STRUCTURING AND PLACEMENT</li>
                <li>CAPITAL FORMATION</li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="service-list">
                <li>SELL-SIDE M&A</li>
                <li>BUY-SIDE M&A</li>
                <li> DEBT STRUCTURING AND PLACEMENT</li>
                <li>CAPITAL FORMATION</li>
            </ul>
        </div>
    </center>
    <div class="col-md-4"></div>
    
    
</div>
<div class="footer-margin">
    @Html.Action("MultiSlide", "Home")
</div>

