<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Menu -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        @*<li data-target="#carousel" data-slide-to="2"></li>*@
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/Louisville_Skyline (3).jpg" />
            <div class="carousel-caption">
                <h3 class="fade-in">
                    Straight Forward Merger and Acquisition Results
                </h3>
            </div>
            
        </div>
        <div class="item">
            <img src="~/Content/NDA1 (4).jpg" />
            <div class="carousel-caption">
                <h3 class="fade-in">Expertise. Passion. Commitment. </h3>
            </div>
        </div>
    </div>
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
