
<div class="containter team-container">
    <div class="col-md-12 footer-bg border-top">
        <center><h1 class="service-title">Our Services</h1></center>
    </div>
    <div class="col-md-12 team-bg border-btm">
        <div class="row">
            <center>
                <h3 class="service-intro service-txt">
                    Merger and acquisition transaction services can be very complex.
                    We enjoy working with our clients to simplify the process and maximize the opportunities
                    they are considering. Our clients are either interested in selling their restaurant companies,
                    acquiring new restaurants or capitalizing their business as efficiently as possible.
                    Regardless of the size of the transaction, we find the best prices, terms and solutions for our clients.
                </h3>
            </center>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h1 class="service-heading">Seller Services</h1>
            <p class="body-txt">
                Knowing the seller’s objectives, we provide a proven and smooth process to help meet their goals.
                Our strong background and connections within the franchised restaurant industry allows us to identify and target qualified potential buyers on a nationwide basis.
                We run a simplified and effective sales process to expose sellers’ businesses to the widest range of qualified buyers.

                To ensure the seller has the best advisors, we recommend all clients secure their own accountant and attorney. We coordinate and communicate the necessary information with the client’s professional advisors. Working together, the results are a smooth due diligence process, transfer approval and closing.
            </p>
               </div>
        <div class="col-md-6">

            <center><img class="img-responsive service-image" src="~/Content/Contract.jpg" /></center>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6"><center><img class="img-responsive service-image" src="~/Content/Contract.jpg" /></center></div>
        <div class="col-md-6">
            <center><h1 class="service-heading">Buyer Services</h1></center>
            <p class="body-txt">
                We have proven expertise in finding new opportunities and sources of capital for buyers who are seeking acquisition, financing or capital-raising expertise. While we provide valuation services, deal-structuring and negotiations for our clients,
                we encourage them to involve their own accountant and attorney. Our buys-side goal is true to our motto – Straight Forward M&A Results.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <center><h1 class="service-heading">Other Services</h1></center>
            <ul class="body-txt">
                <li>Fair market business valuations</li>
                <li>Consulting services for asset strategy</li>
                <li>Sale-leaseback</li>
                <li>Capital-raises</li>
                <li>Refinancing support</li>
                <li>Creative financing solutions</li>
            </ul>
        </div>
        <div class="col-md-6"><center><img class="img-responsive service-image" src="~/Content/Contract.jpg" /></center></div>
    </div>
</div>
